.App {
  text-align: center;
  background: linear-gradient(to Right, white, orange)
}
.first-box{
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}

.second-box {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}

.third-box {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}

.post1 {
  margin-top: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
  padding: 3px;
}

.post2 {
  margin-top: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
}

.post3 {
  margin-top: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
}

.project-link {
  margin-top: 150px;
}

img {
  margin-top: 25px;
  border-radius: 10px;
  height: 300px;
  width: 500px;
}
footer {
  background-color: lightgray;
}