.App {
  text-align: center;
  background: lightgrey;
}

.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 650px) {
  .navbar {
    overflow: visible;
    width: 100%;
    height: 50px;
  }
  #basic-navbar-nav {
    background-color: white;
  }
}

.box {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}

.post {
  margin-top: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
  padding: 3px;
}

img {

  margin: 55px 0 20px 0;
  border-radius: 10px;
  height: 300px;
  width: 500px;
}

@media only screen and (max-width: 675px) {
  img {
    width: 200px;
  }
}

footer {
  background-color: lightgray;
  margin-top: 5px;
}